.feed-container {
    margin-top: 20px;
    padding: 10px;
}

.posts-list {
    margin-top: 20px;
}

.post-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.post-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

/* for markdown post css */
.post-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.md-posts-list .post-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}